#get-pokemon{
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: red;

}


.half { 
border-top: 5px solid black;
position: absolute;
top: 25px;
right: 10px;
height: 50%;
width: 120%;
}

.bottom { 
background-color: azure;
}
.center {
height: 20px;
width: 20px;
border-radius: 50%;
background-color: azure;
border: 5px solid black;
top: 40px;
left: 42px; 
}